<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muhammad Ali</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <h1 style="font-size: 60px;"><b>Muhammad Ali </b></h1>
    </header>

    <div id="our-mobile">
        <section class="our-menu" style="margin-top: -2%;">
            <div class="side-1" style="margin-top: -20%;">
                <h2 class="page-title" style="color:rgb(25, 25, 25)">Coming soon</h2>
                <p class="page-description color-black">Stay updated for the upcoming updates</p>

                <nav class="footer-social-links">
                    <a href="https://github.com/M-Ali-123" class="social-link"
                        style="background-color: black; color: #ffff;"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/m-alisheikh" class="social-link"
                        style="background-color: black; color: #ffff;"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://replit.com/@Work1232" class="social-link"
                        style="background-color: black; color: #ffff;"><i class="fa-solid fa-code"></i></a>
                    <!-- <a href="#" class="social-link" style="background-color: black; color: #ffff;"><i class="fa-brands fa-instagram"></i></a> -->
                </nav>

            </div>

            <div class=" side-2" style="margin-top: -10%; height: 450px">
                <div class="contactform" data-aos="fade-down-left" data-aos-duration="1000">
                    <form action="/submit" method="post">
                        {% csrf_token %}
                        <h2>Send Message</h2>
                        <div class="inputbox">
                            <input type="text" name="name" required="required">
                            <span>Name</span>
                        </div>
                        <div class="inputbox">
                            <input type="email" name="email" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputbox">
                            <textarea type="text" name="msg" required="required"></textarea>
                            <span>Type your Text..... </span>
                        </div>
                        <div class="inputbox">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
    </div>

    </div>
    </section>
    </div>
    </main>
</body>

</html>